<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Añadir rutina</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                          
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nombre rutina" type="text">
                                  </mat-form-field>
                                </div>
                            </div>

                            <label for="exampleFormControlSelect2">Tipo de usuario</label>
                            <select multiple class="form-control" id="premium">
                            <option>Premium</option>
                            <option>NO premium</option>
                            </select>
                        
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Crear dieta</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
       
        </div>
    </div>
  </div>
  