<div class="main-content">
    <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Material Dashboard Heading</h4>
              <p class="card-category">Created using Roboto Font Family</p>
          </div>
          <div class="card-body">
              <div id="typography">
                  <div class="card-title">
                      <h2>Ingredientes</h2>
                  </div>
                  <div class="row">
            
                          <div class="table-responsive">
                              <table class="table">
                                  <thead class=" text-primary">
                                      <th>
                                          ID
                                      </th>
                                      <th>
                                          Nombre Ingrediente
                                      </th>
                                      <th>
                                          Tipo Ingrediente
                                      </th>
                                      <th>
                                          Imagen
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>
                                              1
                                          </td>
                                          <td>
                                              Dakota Rice
                                          </td>
                                          <td>
                                              Niger
                                          </td>
                                          <td>
                                              Oud-Turnhout
                                          </td>
                                         
                                      </tr>
                               
                                  </tbody>
                              </table>
                 
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  