<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
    
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
        
            <ul class="navbar-nav">
               
              
                <li class="nav-item">
                    <a class="nav-link" >
                        <div class="dropleft   mt-1 pt-1">
                            <button type="button" class="btn btn-primary" data-toggle="dropdown">
                                <i class="material-icons">person</i>
                            </button>
                            <div class="dropdown-menu">
                               
                              <a class="dropdown-item" routerLink="/user-profile" routerLinkActive="active">Ver perfil</a>
                    
                              <a class="dropdown-item" routerLink="/premium">Hacerse PREMIUM</a>

                              <a class="dropdown-item" (click)='logout()'>Desconectarse</a>
                 
                            </div>
                          </div>
                          
                       

                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

