<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
        </div>
    
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
        
            <ul class="navbar-nav">
               
              
                <li class="nav-item">
                    <a class="nav-link" >
                        <div class="dropleft   mt-1 pt-1">
                            <button type="button" class="btn btn-primary " data-toggle="dropdown">
                                <i class="material-icons">person</i>
                            </button>
                            <div class="dropdown-menu">
                               
                              <a class="dropdown-item" href="#">HTML</a>
                              <a class="dropdown-item" href="#">CSS</a>
                              <a class="dropdown-item-text" href="#">JS</a>
                            </div>
                          </div>
                          
                       

                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

