mat-dialog-container{
    border: 4px solid;

    border-image: linear-gradient( 
    60deg
    , #dc8bb5, #f02b91 ) 1 100%;
}


mat-dialog-container ng-tns-c68-0 ng-trigger ng-trigger-dialogContainer ng-star-inserted{
    border: 4px solid;

    border-image: linear-gradient( 
    60deg
    , #dc8bb5, #f02b91 ) 1 100%; 
}