<h2 style="text-align:center;">Bienvenido/a</h2>
<mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
    <mat-tab label="Iniciar sesion">
        <mat-card-content>
            <form [formGroup]="LoginForm" (ngSubmit)="submitLoginForm()">
                <mat-form-field>
                    <input matInput formControlName="username" placeholder="Usuario" type="text" required>

                    <mat-icon matSuffix>perm_identity</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Contraseña" type="password" required formControlName="password"
                        name="password" ngModel>

                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <button class="btn btn-primary btn-round">
                    Entrar
                </button>

            </form>
        </mat-card-content>
    </mat-tab>




    <!-- FORMULARI REGISTER -->
    <mat-tab label="Registrarse">
        <mat-card-content>
            <form [formGroup]="RegisterForm" (ngSubmit)="submitRegisterForm()">
                <mat-form-field>
                    <input matInput placeholder="Usuario" required name="username" formControlName="username">
                    <mat-icon matSuffix>perm_identity</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Correo" required name="email" formControlName="email">
                    <mat-icon matSuffix>email</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Contraseña" type="password" required minlength="6" name="password"
                        formControlName="password">

                    <mat-icon matSuffix>lock</mat-icon>

                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Confirmar contraseña" type="password" required name="repassword"
                        formControlName="repassword">

                    <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
                <button mat-raised-button color="btn-primary" class="login-button">
                    Registrarse
                </button>
            </form>
        </mat-card-content>
    </mat-tab>
</mat-tab-group>