
<div class="main-content">
    <div class="container-fluid">
<br><br>
<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div>
            <h3>DATOS GENERALES</h3>
            <div>
                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="Nombre" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Nombre.errors }">
                    <mat-error *ngIf="submitted && f.Nombre.errors" class="invalid-feedback">
                        <div *ngIf="f.Nombre.errors.required">El Nombre es obligatorio</div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="Apellidos" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Apellidos.errors }">
                    <mat-error *ngIf="submitted && f.Apellidos.errors" class="invalid-feedback">
                        <div *ngIf="f.Apellidos.errors.required">El Apellido es obligatorio</div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-label>Sexo:</mat-label>
                <div>
                    <mat-radio-group formControlName="Sexo">
                        <mat-radio-button value="Hombre">Hombre</mat-radio-button>
                        <br>
                        <mat-radio-button value="Mujer">Mujer</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput formControlName="Email" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
                    <mat-error *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                        <div *ngIf="f.Email.errors.required">El Correo electrónico es obligatorio</div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Edad</mat-label>
                    <input matInput formControlName="Edad" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Edad.errors }">
                    <mat-error *ngIf="submitted && f.Edad.errors" class="invalid-feedback">
                        <div *ngIf="f.Edad.errors.required">La Edad es obligatorio</div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Antecedentes patológicos</mat-label>
                    <input matInput formControlName="Antecedentes" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Antecedentes.errors }">
                    <mat-error *ngIf="submitted && f.Antecedentes.errors" class="invalid-feedback">
                        <div *ngIf="f.Antecedentes.errors.required">Los Antecedentes patológicos es obligatorio</div>
                    </mat-error>
                    <mat-hint>Obesidad,
                        Hipercolesterolemia,
                        Diabetes mellitus,
                        Hipotiroidismo,
                        Hipertensión,
                        Cáncer,
                        ECV, ...
                    </mat-hint>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>¿Algún familiar biológico ha padecido alguna de las anteriores patologías?¿Cuales son?
                    </mat-label>
                    <input matInput formControlName="FamBio" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.FamBio.errors }">
                    <mat-error *ngIf="submitted && f.FamBio.errors" class="invalid-feedback">
                        <div *ngIf="f.FamBio.errors.required">El Campo es obligatorio</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div>
            <br><br>
            <h3>DATOS ANTROPOMÉTRICOS</h3>
            <div>
                <mat-form-field>
                    <mat-label>Peso</mat-label>
                    <input matInput formControlName="Peso" placeholder="en kg" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Peso.errors }">
                    <mat-error *ngIf="submitted && f.Peso.errors" class="invalid-feedback">
                        <div *ngIf="f.Peso.errors.required">El Peso es obligatorio</div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Altura</mat-label>
                    <input matInput formControlName="Altura" placeholder="en cm" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Altura.errors }">
                    <mat-error *ngIf="submitted && f.Altura.errors" class="invalid-feedback">
                        <div *ngIf="f.Altura.errors.required">La Altura es obligatorio</div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Circunferencia de la cintura</mat-label>
                    <input matInput formControlName="Cintura" placeholder="en cm" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Cintura.errors }">
                    <mat-error *ngIf="submitted && f.Cintura.errors" class="invalid-feedback">
                        <div *ngIf="f.Cintura.errors.required">La Cintura es obligatorio</div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Circunferencia de la cadera</mat-label>
                    <input matInput formControlName="Cadera" placeholder="en cm" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Cadera.errors }">
                    <mat-error *ngIf="submitted && f.Cadera.errors" class="invalid-feedback">
                        <div *ngIf="f.Cadera.errors.required">La Cadera es obligatorio</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <br><br>
        <div>
            <h3>ENCUESTA DIETÉTICA</h3>
            <br>
            <div>
                <mat-label>¿Posee alguna intolerancia o alergia alimentaria?</mat-label>
                <div>
                    <mat-radio-group formControlName="Intolerancia">
                        <!-- Intolerancia  -->
                        <mat-radio-button value="Si">Si</mat-radio-button><br>
                        <mat-radio-button value="No">No</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Si es que sí…¿Cuál?</mat-label>
                    <input matInput formControlName="IntoleranciaEx">
                </mat-form-field>
            </div>
            <div>
                <mat-label>¿ Estás siguiendo alguna dieta? Vegana, vegetariana, keto, etc...</mat-label>
                <mat-radio-group formControlName="Dieta"> <br>
                    <!-- Dieta -->
                    <mat-radio-button value="Si">Si</mat-radio-button><br>
                    <mat-radio-button value="No">No</mat-radio-button>
                </mat-radio-group>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Si es que sí…¿Cuál?</mat-label>
                    <input matInput formControlName="DietaEx">
                </mat-form-field>
            </div>
            <div>
                <div class="row">
                    <div class="col-sm-3">
                        <mat-label>Consumo de lácteos</mat-label>
                        <mat-radio-group formControlName="Lacteos"><br>
                            <mat-radio-button value="Lacteos_mas4dia">+ de 4 al día</mat-radio-button><br>
                            <mat-radio-button value="Lacteos_2a3dia">2 a 3 día</mat-radio-button><br>
                            <mat-radio-button value="Lacteos_1dia">1 día</mat-radio-button><br>
                            <mat-radio-button value="Lacteos_3a5semana">3 a 5 a la semana</mat-radio-button><br>
                            <mat-radio-button value="Lacteos_nunca">Nunca</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-sm-4">
                        <mat-label>Consumo de huevos</mat-label>
                        <mat-radio-group formControlName="Huevos"><br>
                            <mat-radio-button value="huevos_mas7dia">+ de 7 al día</mat-radio-button><br>
                            <mat-radio-button value="huevos_3a5semana">3 a 5 a la semana</mat-radio-button><br>
                            <mat-radio-button value="huevos_2dia">2 al día</mat-radio-button><br>
                            <mat-radio-button value="huevos_1a2dia">1 o 2 al dia</mat-radio-button><br>
                            <mat-radio-button value="heuvos_nunca">Nunca</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-sm-4">
                        <mat-label>Consumo de fruta</mat-label>
                        <mat-radio-group formControlName="Fruta"><br>
                            <mat-radio-button value="Fruta_mas4dia">+ de 4 al día</mat-radio-button><br>
                            <mat-radio-button value="Fruta_2a3dia">2 a 3 día</mat-radio-button><br>
                            <mat-radio-button value="Fruta_1dia">1 día</mat-radio-button><br>
                            <mat-radio-button value="Fruta_3a5semana">3 a 5 a la semana</mat-radio-button><br>
                            <mat-radio-button value="Fruta_nunca">Nunca</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-sm-3">
                        <mat-label>Consumo de legumbres</mat-label>
                        <mat-radio-group formControlName="Legumbres"><br>
                            <mat-radio-button value="Legumbres_mas4semana">+ de 4 a la semana</mat-radio-button><br>
                            <mat-radio-button value="Legumbres_2a3semana">2 a 3 veces a la semana</mat-radio-button><br>
                            <mat-radio-button value="Legumbres_1semana">1 vez a la semana</mat-radio-button><br>
                            <mat-radio-button value="Legumbres_1a2mes">1 o 2 veces al mes</mat-radio-button><br>
                            <mat-radio-button value="Legumbres_nunca">Nunca</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-sm-4">
                        <mat-label>Consumo de carne</mat-label>
                        <mat-radio-group formControlName="Carne"><br>
                            <mat-radio-button value="Carne_mas4semana">+ de 4 a la semana</mat-radio-button><br>
                            <mat-radio-button value="Carne_2a3semana">2 a 3 veces a la semana</mat-radio-button><br>
                            <mat-radio-button value="Carne_1semana">1 vez a la semana</mat-radio-button><br>
                            <mat-radio-button value="Carne_1a2mes">1 o 2 veces al mes</mat-radio-button><br>
                            <mat-radio-button value="Carne_nunca">Nunca</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-sm-4">
                        <mat-label>Consumo de carne procesada o embutido</mat-label>
                        <mat-radio-group formControlName="Lacteos" CarneProcesada><br>
                            <mat-radio-button value="CarneProcesada_mas4semana">+ de 4 a la semana</mat-radio-button>
                            <br>
                            <mat-radio-button value="CarneProcesada_2a3semana">2 a 3 veces a la semana
                            </mat-radio-button>
                            <br>
                            <mat-radio-button value="CarneProcesada_1semana">1 vez a la semana</mat-radio-button><br>
                            <mat-radio-button value="CarneProcesada_1a2mes">1 o 2 veces al mes</mat-radio-button><br>
                            <mat-radio-button value="CarneProcesada_nunca">Nunca</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-sm-3">
                        <mat-label>Consumo de pescado</mat-label>
                        <mat-radio-group formControlName="Pescado"><br>
                            <mat-radio-button value="Pescado_mas4semana">+ de 4 a la semana</mat-radio-button><br>
                            <mat-radio-button value="Pescado_2a3semana">2 a 3 veces a la semana</mat-radio-button><br>
                            <mat-radio-button value="Pescado_1semana">1 vez a la semana</mat-radio-button><br>
                            <mat-radio-button value="Pescado_1a2mes">1 o 2 veces al mes</mat-radio-button><br>
                            <mat-radio-button value="Pescado_nunca">Nunca</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-sm-4">
                        <mat-label>Consumo de bollería o galletas</mat-label>
                        <mat-radio-group formControlName="Bolleria"><br>
                            <mat-radio-button value="Bolleria_mas4semana">+ de 4 a la semana</mat-radio-button><br>
                            <mat-radio-button value="Bolleria_2a3semana">2 a 3 veces a la semana</mat-radio-button><br>
                            <mat-radio-button value="Bolleria_1semana">1 vez a la semana</mat-radio-button><br>
                            <mat-radio-button value="Bolleria_1a2mes">1 o 2 veces al mes</mat-radio-button><br>
                            <mat-radio-button value="Bolleria_nunca">Nunca</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-sm-4">
                        <mat-label>Consumo de alimentos procesados</mat-label>
                        <mat-radio-group formControlName="AlimentosProcesados"><br>
                            <mat-radio-button value="AlimentosProcesados_mas4semana">+ de 4 a la semana
                            </mat-radio-button>
                            <br>
                            <mat-radio-button value="AlimentosProcesados_2a3semana">2 a 3 veces a la semana
                            </mat-radio-button>
                            <br>
                            <mat-radio-button value="AlimentosProcesados_1semana">1 vez a la semana</mat-radio-button>
                            <br>
                            <mat-radio-button value="AlimentosProcesados_1a2mes">1 o 2 veces al mes</mat-radio-button>
                            <br>
                            <mat-radio-button value="AlimentosProcesados_nunca">Nunca</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-sm-3">
                        <mat-label>Consumo de comida ràpida</mat-label>
                        <mat-radio-group formControlName="ComidaRapida"><br>
                            <mat-radio-button value="ComidaRapida_mas4semana">+ de 4 a la semana</mat-radio-button><br>
                            <mat-radio-button value="ComidaRapida_2a3semana">2 a 3 veces a la semana</mat-radio-button>
                            <br>
                            <mat-radio-button value="ComidaRapida_1semana">1 vez a la semana</mat-radio-button><br>
                            <mat-radio-button value="ComidaRapida_1a2mes">1 o 2 veces al mes</mat-radio-button><br>
                            <mat-radio-button value="ComidaRapida_nunca">Nunca</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-sm-4">
                        <mat-label>Bebidas azucaradas</mat-label>
                        <mat-radio-group formControlName="BebidasAzucarada"><br>
                            <mat-radio-button value="BebidasAzucarada_mas4semana">+ de 4 a la semana</mat-radio-button>
                            <br>
                            <mat-radio-button value="BebidasAzucarada_2a3semana">2 a 3 veces a la semana
                            </mat-radio-button>
                            <br>
                            <mat-radio-button value="BebidasAzucarada_1semana">1 vez a la semana</mat-radio-button><br>
                            <mat-radio-button value="BebidasAzucarada_1a2mes">1 o 2 veces al mes</mat-radio-button><br>
                            <mat-radio-button value="BebidasAzucarada_nunca">Nunca</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div class="col-sm-4">
                        <mat-label>Bebidas alcohólicas</mat-label>
                        <mat-radio-group formControlName="BebidasAlcoholicas"><br>
                            <mat-radio-button value="BebidasAlcoholicas_mas4semana">+ de 4 a la semana
                            </mat-radio-button>
                            <br>
                            <mat-radio-button value="BebidasAlcoholicas_2a3semana">2 a 3 veces a la semana
                            </mat-radio-button>
                            <br>
                            <mat-radio-button value="BebidasAlcoholicas_1semana">1 vez a la semana</mat-radio-button>
                            <br>
                            <mat-radio-button value="BebidasAlcoholicas_1a2mes">1 o 2 veces al mes</mat-radio-button>
                            <br>
                            <mat-radio-button value="BebidasAlcoholicas_nunca">Nunca</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>¿Crees que consumes algún alimento en exceso?</mat-label>
                        <input matInput formControlName="AlimentoExeso" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.AlimentoExeso.errors }">
                        <mat-error *ngIf="submitted && f.AlimentoExeso.errors" class="invalid-feedback">
                            <div *ngIf="f.AlimentoExeso.errors.required">La Campo es obligatorio</div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <br>
        </div>

        <button type="submit" button [disabled]="registerForm.invalid" class="btn btn-primary">Enviar Enquesta</button>
    </form>
    <br>

    <br>

    <br>



</div>

</div>
</div>
