<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Añadir rutina</h4>
                        <p class="card-category">Complete el formulario para registrarlo</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nombre rutina" formControlName="nombreRutina"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Tipo Rutina" formControlName="tipoRutina"
                                            class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted}">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field >
                                      <mat-label>Selector</mat-label>
                                      <mat-select>
                                        <mat-option value="one">Premium</mat-option>
                                        <mat-option value="two">No Premium</mat-option>
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label>Imagen</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">Escoge una foto</label>
                                    </div>
                                </div>
                            </div>

                            <button mat-raised-button type="submit" button [disabled]="registerForm.invalid" class="btn btn-primary pull-right">Crear Rutina</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>