




<div class="main-content">
  <div class="container-fluid">
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>
  </div>
  <!--Modal PopUp with Add Event Form-->
  <div  class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <div class="modal-header">
          <h4 class="modal-title align-center"></h4>
          <button type="button" class="close" (click)="hideForm()" data-dismiss="modal">&times;</button>
        </div>
        
        <div class="modal-body">
          <form [formGroup]="addEventForm" (ngSubmit)="onSubmit()">
            <div class="row">
               <div class="col-sm-12">
                  <div class="form-group">
                        <label>Event Title</label>
                        <select formControlName="title">
                          <option [ngValue]="null" disabled>Choose your profile</option>
                          <option *ngFor="let prf of allProfiles" [ngValue]="prf">
                           {{ prf.prName }}
                          </option>
                        </select> 

                        </div>
                   </div>
              </div> 

            
                <div class="form-group">
                      <label>Event Date:</label>
                      <div class="eventstarttitle">
                      </div>
                   </div>
          

           <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<!--Modal calendar-->
<div id="calendarModalDieta" class="modal fade">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"> <span class="sr-only">close</span></button>
              <h4 id="modalTitle" class="modal-title"></h4>
          </div>
          <div id="modalBody" class="modal-body">
            <div class="row">
         
              <div class="col-md-3">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Desayuno</mat-card-title>
             
              </mat-card-header>
              <img mat-card-image src="../../assets/img/desayuno.jpg" alt="Foto de dieta">
              <mat-card-content>
                <p>
                  Infusión/Café
                  con leche sin
                  azúcar
                  Porridge de
                  avena 100g con
                  canela y 1/2
                  frutas
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-3">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Comida</mat-card-title>
        
              </mat-card-header>
              <img mat-card-image src="../../assets/img/comida.JPG" alt="Foto de dieta">
              <mat-card-content>
                <p>
                  Revuelto de
                  verduras,
                  cebolla,
                  calabacín y 150
                  g de patata.
                  250g de
                  pechuga de
                  pavo
                  1 fruta
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-md-3">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Merienda</mat-card-title>
           
              </mat-card-header>
              <img mat-card-image src="" alt="Foto de dieta">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
            
            </mat-card>
          </div>
          <div class="col-md-3">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Cena</mat-card-title>
              </mat-card-header>
              <img mat-card-image src="../../assets/img/cena.png" alt="Foto de dieta">
              <mat-card-content>
                <p>
                  Ensalada de
                  arroz integral
                  Arroz (150g),
                  lechuga, tomate,
                  cebolla, un
                  aguacate y 1 lata
                  de atún al
                  natural.
                  1 Fruta
                  1 yogur natural
                  sin azúcar
                </p>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)='borrar()' >Eliminar</button>
          </div>
      </div>
  </div>
  </div>
  </div>
</div>


  <div id="calendarModalRutina" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"></h4>
            </div>
            <div id="modalBody" class="modal-body">
            <h2>Pecho</h2>  
            
            
            <h2>Press</h2> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)='borrar()' >Eliminar</button>
            </div>
        </div>
    </div>
    </div>

    <div id="calendarModalComentarios" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"> <span class="sr-only">close</span></button>
                  <h4 id="modalTitle" class="modal-title"></h4>
              </div>
              <div id="modalBody" class="modal-body">
              <h2>Comentarios</h2>  
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-dismiss="modal" (click)='borrar()' >Eliminar</button>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
  