<br><br><br>

<body>
  <div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h2><b>Dietas</b></h2>
            </div>
          </div>
        </div>
        <div class="input-group">
          <br>
          <input type="text" class="form-control rounded" placeholder="Buscar Dietas" aria-label="Search"
            [(ngModel)]="term" />
          <button type="button" class="btn btn-outline-primary"><i class="material-icons">person_search</i></button>
        </div>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th scope="col">Tipo de Dieta</th>
              <th></th>
              <th>Nombre</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <!-- <div *ngFor="let item of filterData  | filter:term"> -->
              <td></td>
              <td></td>
              <!-- <td>{{item.usuario}}</td> -->
              <td></td>
              <td> Pepe</td>
            <!-- </div> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>