<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Listado de Dietas</h4>
        <p class="card-category">Todos las dietas</p>
      </div>
      <div class="card-body">
        <div id="typography">
          <div class="card-title">
            <div class="row">
              <div class="col">
                <h2>Dietas</h2>
              </div>
              <div class="col-7">
                <div class=" pb-5 buscar-caja">
                  <input type="text"  class="buscar-txt"  [(ngModel)]="term" placeholder="Buscar..."/>
                  <a class="buscar-btn">
                    <i class="material-icons">search</i> 
                  </a>
                 </div>
              </div>
            </div>
          </div>

          <div class="row">

            <table class="table table-striped table-hover">

              <div class="card-header card-header-primary">
                <thead>

                  <div style="margin-left: 80px;">

                    <th scope="col">Tipo Dieta</th>

                    <th style="padding-left: 220px;">Nombre</th>

                  </div>

                </thead>
              </div>

              <div *ngFor="let item of filterData  | filter:term">
                <td></td>
                <td style="padding-left: 150px;">{{item.NDieta}}</td>
              
                <td> <button (click)='verDias()'>click</button></td>
              </div>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div *ngIf="mostrarDias==true" class="card-body">
  <div class="card">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum voluptatem suscipit distinctio saepe culpa. Tempore at dicta eveniet culpa harum aut error nihil fugit sunt aliquam dolore aliquid, ipsam consectetur soluta dolores a exercitationem autem quidem, officia, reiciendis nostrum nesciunt deleniti expedita rerum. Accusantium, inventore. Debitis obcaecati inventore optio, voluptate exercitationem beatae totam quibusdam culpa, facere vitae numquam, quo aliquam asperiores nihil labore! Harum omnis dolores fugit reiciendis, aliquid hic officia obcaecati ipsum ut accusantium sequi odit sint commodi totam! Consequatur saepe cum error amet animi, modi fuga quae impedit, sunt voluptate officiis? Ex, quidem provident consequatur cum libero veniam.</p>
  </div>
</div>