<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Listado de Dietas</h4>
        <p class="card-category">Todos las dietas</p>
      </div>
      <div class="card-body">
        <div id="typography">
          <div class="card-title">
            <div class="row">
              <div class="col">
                <h2>Dietas</h2>
              </div>
              <div class="col-7">
              </div>
            </div>
          </div>

          <div class="row">

            <div class="table-responsive">
              <input type="text" class="form-control rounded" placeholder="Buscar Dieta" [(ngModel)]="term">
              <!-- <button type="button" class="btn btn-outline-primary"><i class="material-icons">person_search</i></button> -->
            </div>
            <table class="table table-striped table-hover">

              <div class="card-header card-header-primary">
                <thead>

                  <div style="margin-left: 80px;">

                    <th scope="col">Tipo Dieta</th>

                    <th style="padding-left: 220px;">Nombre</th>

                  </div>

                </thead>
              </div>

              <div *ngFor="let item of filterData  | filter:term">
                <td></td>
                <td style="padding-left: 150px;">{{item.Nrutina}}</td>
                <td>
                  <!-- <button class="btn btn-primary btn-round"> <i class="material-icons">
                    delete</i> </button> -->


                </td>
              </div>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div id="typography">
          <div class="card-title">
            <div class="row">
              <div class="col-7">
              </div>
            </div>
          </div>

          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia, magni quo. Ut, nesciunt. Dicta optio aliquid porro. Minus, praesentium laborum magnam blanditiis accusamus ipsa id? Architecto temporibus blanditiis dolor sapiente? Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi maiores hic ut rerum obcaecati eum soluta libero quae! Vero eius inventore voluptatibus doloremque, ut nemo nulla qui necessitatibus distinctio ex! Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aliquid maiores libero facilis accusamus ipsam aspernatur illum voluptatibus voluptatem nesciunt similique maxime vel cupiditate sequi consequatur odit, error ullam nulla!</p>

        </div>
      </div>
    </div>
  </div>
</div>