<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Listado de Rutinas</h4>
        <p class="card-category">Todos las Rutinas</p>
      </div>
      <div class="card-body">
        <div id="typography">
          <div class="card-title">
            <div class="row">
              <div class="col">
                <h2>Rutinas</h2>
              </div>
              <div class="col-7">
              </div>
            </div>
          </div>

          <div class="row">

            <div class="table-responsive">
              <input type="text" class="form-control rounded" placeholder="Buscar Dieta" [(ngModel)]="term">
              <!-- <button type="button" class="btn btn-outline-primary"><i class="material-icons">person_search</i></button> -->
            </div>
            <table class="table table-striped table-hover">

              <div class="card-header card-header-primary">
                <thead>

                  <div style="margin-left: 80px;">

                    <th scope="col">Tipo Dieta</th>

                    <th style="padding-left: 220px;">Nombre</th>

                  </div>

                </thead>
              </div>

              <div *ngFor="let item of filterData  | filter:term">
                <td></td>
                <td style="padding-left: 150px;">{{item.Nrutina}}</td>
                <td>
                  <!-- <button class="btn btn-primary btn-round"> <i class="material-icons">
                    delete</i> </button> -->


                </td>
              </div>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="tarjeta" class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div id="typography">
          <div class="card-title">
            <div class="row">
              <div class="col-7">
              </div>
            </div>
          </div>
          <div>
          <h3>Hipertrofia</h3>

          <h5>Dia 1:</h5>
          <p>Press banca, Press inclinado, Fondos, Aberturas y Flexiones.</p>

        </div>
        </div>
      </div>
    </div>
  </div>
</div>