<div class="logo">
    <a class="simple-text">
        <div class="logo-img">
            <img src="../../../assets/img/WELLNESS.png"/>
        </div>
        {{username}}
    </a>
</div>
<div class="sidebar-wrapper">

  
    <!-- Botones del slidebar -->
    <ul class="nav">

      
        <div *ngIf="isAdmin()==true">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItemsAdmin" class="{{menuItem.class}} ">
                <a class="nav-link" [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{ menuItem.title | translate}}</p>
                </a>
            </li> 
        </div>

        <div *ngIf="isAdmin()==false">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItemsUser" class="{{menuItem.class}} ">
                <a class="nav-link" [routerLink]="[menuItem.path]">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{ menuItem.title | translate}}</p>
                </a>
            </li> 


        </div>
        
       

        
  

      
    </ul>
</div>
