<br><br><br>
<div class="card">
    <div class="card-top border-bottom text-center"></div>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <div class="row">
                <div class="col-md-7">
                    <div class="left border">
                        <div class="row"> <span class="header">Pagar</span>
                            <div class="icons"> <img src="https://img.icons8.com/color/48/000000/visa.png" /> <img
                                    src="https://img.icons8.com/color/48/000000/mastercard-logo.png" /> <img
                                    src="https://img.icons8.com/color/48/000000/maestro.png" /> </div>
                        </div>

                        <span>Nombre:</span> <input placeholder="Nombre" formControlName="nombre" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">

                        <span>Num Tarjeta:</span> <input placeholder="0125 6780 4567 9909" formControlName="numTarjeta"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.numTarjeta.errors }">

                        <div class="row">
                            <div class="col-4">
                                <span>Exp. Numero:</span>
                                <input placeholder="YY/MM" formControlName="expNum" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.expNum.errors }">

                            </div>
                            <div class="col-4">
                                <span>CVV:</span>
                                <input placeholder="123" formControlName="cvv" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && f.cvv.errors }">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-5">
                    <div class="right border">
                        <div class="header">Pedido</div>
                        <p>1 items</p>
                        <div class="row item">
                            <div class="col-4 align-self-center"><img class="img-fluid"
                                    src="https://i.ibb.co/NLXmXY2/aawd.png"></div>
                            <div class="col-8">
                                <div class="row"><b>€ 59.99</b></div>
                                <div class="row text-muted">Suscripción mensual</div>

                                <div class="form-group col-md-7">
                                    <input type="number" (change)="CambiarprecioTotal()" min="1" placeholder="1" formControlName="cantidad"
                                        class="form-control" onKeyDown="return false"
                                        [ngClass]="{ 'is-invalid': submitted && f.cantidad.errors }">
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row lower">
                            <div class="col text-left">Subtotal</div>
                            <div class="col text-right">€ {{total}}</div>
                        </div>
                        <div class="row lower">
                            <div class="col text-left"><b>Total a pagar</b></div>
                            <div class="col text-right"><b>€ {{total}}</b></div>
                        </div>
                        <div class="row lower">
                        </div> <button class="awd" type="submit" button [disabled]="registerForm.invalid" class="btn">Pagar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>