<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Listado de Usuarios</h4>
        <p class="card-category">Todos los usuarios</p>
      </div>
      <div class="card-body">
        <div id="typography">
          <div class="card-title">
            <div class="row">
              <div class="col">
                <h2>Usuarios</h2>
              </div>
              <div class="col">

                <div class=" pb-5 buscar-caja">
                  <input type="text"  class="buscar-txt"  [(ngModel)]="term" placeholder="Buscar..."/>
                  <a class="buscar-btn">
                    <i class="material-icons">search</i> 
                  </a>
                 </div>

              
              
              </div>

            </div>
          </div>

          <div class="row">
            
             
              <!-- <button type="button" class="btn btn-outline-primary"><i class="material-icons">person_search</i></button> -->
          
            <table class="table table-striped table-hover" *ngIf="potato==true">

              <thead>
                <div class="row card-header card-header-primary">
                  <div class="col-md-9" >

                    Nombre Usuario
                  </div>
                  <div class="col-md-2">
                    Acciones
                  </div>
                </div>

              </thead>
              <tbody>
                <div class="row ml-2 mt-2" *ngFor="let item of filterData  | filter:term">
                  <div class="col-md-8">

                  {{item.usuario}}
                </div>
                  <div class="col-md-1">

                    <button [routerLink]="['/CalendarioUser',item.idUsuario]" routerLinkActive="active"
                      class="btn btn-primary btn-round">
                      <i class="material-icons">
                        date_range</i> </button>
                  </div>
                  <div class="col-md-1">
                    <button [routerLink]="['/EditarPerfilUsuariosAdmin',item.idUsuario]" routerLinkActive="active"
                      class="btn btn-primary btn-round">
                      <i class="material-icons">
                        manage_accounts</i> </button>
                  </div>


                </div>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>