<div *ngIf="data=='gratuito'">

    <h5>¿Que rutinas y dietas ofrece el plan
        gratuito?</h5>
    Ofrecemos tres rutinas y tres dietas predefinidas. Ofrecemos rutinas de hipertrofia, fuerza y
    hit, y dietas para perder peso, ganar masa y mantener peso.

</div>

<div *ngIf="data=='cancelo'">

    <h5>¿Como cancelo?</h5>
        Podras cancelar tu suscripcion desde el apartado Perfil, la suscripcion se cancelara a finales
        de mes.

</div>

<div *ngIf="data=='wellness'">

    <h5>¿Que es WELLNESS?</h5>
    WELLNESS es una plataforma web creada para que los usuarios puedan organizar sus dietas y
    rutinas, ya sea mediante el plan gratuito prediseñado o personalizado por nuestros profesionales
    mediante el plan premium.

</div>

<div *ngIf="data=='asesorarme'">

    <h5>¿Donde puedo asesorarme en persona?</h5>
    Puedes encontrarnos en CEEILLEIDA Edificio 2 en Complejo la Caparrella, Lleida, Catalunya 25192.
    Para reservar hora con nuestros nutricionistas podeis concretar hora a traves de la web. En caso
    de querer informacion para negocios podeis concretar hora a traves del siguiente correo:
    informacio.wellness@gmail.com.
    
</div>


