<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">Listado de Tipos de Dietas</h4>
                <p class="card-category">Todos los registros</p>
            </div>
            <div class="card-body">
                <div id="typography">
                    <div class="card-title">
                        <div class="row">
                            <div class="col-6">
                                <h2>Tipo Dieta</h2>
                            </div>
                            <div class="col-4">

                            </div>
                            <div class="col">
                                <a routerLink="/NuevoTipoDieta" routerLinkActive="active"
                                    class="btn btn-primary btn-round">Añadir</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nombre Tipo Dieta
                                    </th>


                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>


                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>