<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>WELLNESS</title>
</head>

<div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="login-page">
                <mat-card class="mat-elevation-z12">
                    <mat-card-title style="text-align:center;">Iniciar sesion/Registrarse</mat-card-title>
                    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
                        <mat-tab label="Iniciar sesion">
                            <mat-card-content>
                                <form [formGroup]="LoginForm" (ngSubmit)="submitLoginForm()">
                                    <mat-form-field>
                                        <input matInput formControlName="username" placeholder="Nombre" type="text"
                                            required>

                                        <mat-icon matSuffix>perm_identity</mat-icon>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="Contraseña" type="password" required
                                            formControlName="password" name="password" ngModel>

                                        <mat-icon matSuffix>lock</mat-icon>
                                    </mat-form-field>
                                    <button (click)='test()' mat-raised-button color="btn-primary" class="login-button">
                                        Entrar
                                    </button>

                                </form>
                            </mat-card-content>
                        </mat-tab>




                        <!-- FORMULARI REGISTER -->
                        <mat-tab label="Registrarse">
                            <mat-card-content>
                                <form [formGroup]="RegisterForm" (ngSubmit)="submitRegisterForm()">>
                                    <mat-form-field>
                                        <input matInput placeholder="Nombre" required name="username"
                                            formControlName="username">
                                        <mat-icon matSuffix>perm_identity</mat-icon>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="Correo" required name="email"
                                            formControlName="email">
                                        <mat-icon matSuffix>email</mat-icon>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="Contraseña" type="password" required minlength="6"
                                            name="password" formControlName="password">

                                        <mat-icon matSuffix>lock</mat-icon>

                                    </mat-form-field>
                                    <mat-form-field>
                                        <input matInput placeholder="Confirmar contraseña" type="password" required
                                            name="repassword" formControlName="repassword">

                                        <mat-icon matSuffix>lock</mat-icon>
                                    </mat-form-field>
                                    <button mat-raised-button color="btn-primary" class="login-button">
                                        Registrarse
                                    </button>
                                </form>
                            </mat-card-content>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card>
            </div>
        </div>
    </div>
</div>

<body id="page-top">
    <!-- Header-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-heading text-uppercase">Todas las rutinas y dietas que desees, y mucho mas</div>
            <div class="masthead-subheading">Disfruta donde quieras de forma gratuita o suscribete para una experiencia
                premium</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" data-toggle="modal" data-target="#modalLoginForm">Entrar</a>
        </div>
    </header>
    <!-- Planes-->
    <section class="page-section" id="services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Planes</h2>
                <h3 class="section-subheading text-muted">Elige uno de nuetros tres planes para empezar</h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4" style="margin-left: 100px;">
                    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" data-toggle="modal" data-target="#modalLoginForm">Usuario
                        registrado</a>
                    <h2 class="my-3">GRATUITO</h2>
                    <p class="text-muted">Tan solo necesitas registrarte, sin tagetas, sin compromisos. Los usuarios
                        gratuitos podran acceder a rutinas y dietas prediseñadas para cada una de sus necesidades.</p>
                </div>
                <div class="col-md-4" style="margin-left: 130px;">
                    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger">Premium</a>
                    <h2 class="my-3">59,99€/mes</h2>
                    <p class="text-muted">Tendras a tu disposicion un equipo de profesionales que atenderan tus
                        necesidades. Dispondras de dietas y rutinas presonalizadas, asesorias con nuestros profesionales
                        y mucho mas.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Info-->
    <section class="page-section" id="about">
        <div class="container">
            <ul class="timeline">
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                            src="../../assets/img/hands-1851218_1920.jpg" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">Disfruta de Wellness desde cualquier dispositivo con internet</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Accede a WELLNESS desde cualquier dispositivo con acceso a interrnet,
                                llevate tus rutinas y dietas a todos lados y consultalos en cualquier momento.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                            src="../../assets/img/video-conference-5162927_640.jpg" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">Asesorate con nuestros profesionales</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Disfruta de un trato persoal con nuestros profesionales, ya sea
                                mediante video llamada o en persona desde nuestras oficinas mediante el plan premium.
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image"><img class="rounded-circle img-fluid"
                            src="../../assets/img/bulletin-board-3233653_640.jpg" alt="..." /></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">Disfruta de una interfaz sencilla y comoda</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Ten todas tus rutinas y dietas ordenadas mediante un comodo
                                calendario, con descripciones de cada ejercicio y platos, como realizarlos e imagenes o
                                videos descriptivos.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <h4>
                            Forma Parte
                            <br />
                            De
                            <br />
                            WELLNESS!
                        </h4>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!-- Preguntas-->

    <div class="text-center">
        <h2 class="section-heading text-uppercase">Preguntas frecuentes</h2>
    </div>

    <br>

    <div class="container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#que_es"
            style="margin-left: 70px;">
            ¿Que es WELLNESS?
        </button>

        <div class="modal fade" id="que_es" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">¿Que es WELLNESS?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        WELLNESS es una plataforma web creada para que los usuarios puedan organizar sus dietas y
                        rutinas, ya sea mediante el plan gratuito prediseñado o personalizado por nuestros profesionales
                        mediante el plan premium. Ademas ofrecemos nuestra plataforma para gimnasios o clibes
                        deportivos, para organizar las dietas y rutinas de sus clientes sin los gastos que conlleva
                        crear y mantener una pagina web.
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cancelar"
            style="margin-left: 20px;">
            ¿Como cancelo?
        </button>

        <div class="modal fade" id="cancelar" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">¿Como cancelo?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Podras cancelar tu suscripcion desde el apartado Perfil, la suscripcion se cancelara a finales
                        de mes.
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#que_ofrece"
            style="margin-left: 20px;">
            ¿Que rutinas y dietas ofrece el plan gratuito?
        </button>

        <div class="modal fade" id="que_ofrece" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">¿Que rutinas y dietas ofrece el plan
                            gratuito?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Ofrecemos tres rutinas y tres dietas predefinidas. Ofrecemos rutinas de hipertrofia, fuerza y
                        hit, y dietas para perder peso, ganar masa y mantener peso.
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ubi" style="margin-left: 20px;">
            ¿Donde puedo asesorarme en persona?
        </button>

        <div class="modal fade" id="ubi" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">¿Donde puedo asesorarme en persona?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Puedes encontrarnos en CEEILLEIDA Edificio 2 en Complejo la Caparrella, Lleida, Catalunya 25192.
                        Para reservar hora con nuestros nutricionistas podeis concretar hora a traves de la web. En caso
                        de querer informacion para negocios podeis concretar hora a traves del siguiente correo:
                        informacio.wellness@gmail.com.
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-left">
                        WELLNESS &copy;
                    </div>
                </div>
            </div>
        </footer>