<!-- formulario de los datos del usuario  -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a>
              <img [src]="this.imagen" alt="">
              <img class="img"  />
            </a>
          </div>
          <div class="card-body" *ngIf="ready==true">
            <h6 class="card-category text-gray">{{"usuario" | translate}}</h6>
            <h4 class="card-title">{{this.usuario}}</h4>
            <div *ngIf="isAdmin()==false">

              <p class="card-title ">
                {{"direccion" | translate}} {{this.direccion}} <br>
                {{"altura" | translate}}{{this.altura}} <br>
                {{"peso" | translate}} {{this.peso}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">{{"editarperf" | translate}}</h4>

          </div>
          <div class="card-body" *ngIf="ready==true">
            <form [formGroup]="myForm" (ngSubmit)="EnviarDatos()">
              <div *ngIf="isAdmin()==false" class="row">
                <div class="col-md-9">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Correo electronico" type="email" formControlName="correo" value={{this.correo}}>
                    <mat-error *ngIf="myForm.get('correo').hasError('email')">
                      El correo no es valido
                     </mat-error>  
                     <mat-error *ngIf="myForm.get('correo').hasError('required')">
                      El correo es requerido
                     </mat-error>  
                                      
                   
                  </mat-form-field>
                </div>
              </div>
              <div *ngIf="isAdmin()==false">

                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Nombre" type="text" formControlName="nombre" value={{this.nombre}}>
                      <mat-error *ngIf="myForm.get('nombre').hasError('required')">
                        El Nombre es requerido
                       </mat-error>  
                       <mat-error *ngIf="myForm.get('nombre').hasError('maxlength')">
                        El Nombre es demasido largo
                       </mat-error>  
                       <mat-error *ngIf="myForm.get('nombre').hasError('minlength')">
                        El Nombre es demasiado corto
                       </mat-error>  
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Apellidos" type="text" formControlName="apellidos"
                        value={{this.apellidos}}>
                        <mat-error *ngIf="myForm.get('apellidos').hasError('required')">
                          El apellido es requerido
                         </mat-error>  
                         <mat-error *ngIf="myForm.get('apellidos').hasError('maxlength')">
                          El apellido es demasido largo
                         </mat-error>  
                         <mat-error *ngIf="myForm.get('apellidos').hasError('minlength')">
                          El apellido es demasiado corto
                         </mat-error>  
                               
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Direccion" type="text" formControlName="direccion" value={{this.direccion}}>
                      <mat-error *ngIf="myForm.get('direccion').hasError('required')">
                        La direccion es requerida
                       </mat-error>  
                       <mat-error *ngIf="myForm.get('direccion').hasError('maxlength')">
                        La direccion  es demasido larga
                       </mat-error>  
                       <mat-error *ngIf="myForm.get('direccion').hasError('minlength')">
                        La direccion  es demasiado corta
                       </mat-error>  
                    </mat-form-field>
                  </div>


                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="altura" type="text" formControlName="altura" value={{this.altura}}>
                      <mat-error *ngIf="myForm.get('altura').hasError('required')">
                        La altura es requerida
                       </mat-error>  
                       <mat-error *ngIf="myForm.get('altura').hasError('max')">
                        No eres tan altx :)
                       </mat-error>  
                       <mat-error *ngIf="myForm.get('altura').hasError('min')">
                        Demasiada poca altura!
                       </mat-error>  
                    </mat-form-field>
                  </div>


                  <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="peso" type="number" formControlName="peso" value={{this.peso}}>
                      <mat-error *ngIf="myForm.get('peso').hasError('required')">
                        El peso es requerido
                       </mat-error>  
                       <mat-error *ngIf="myForm.get('peso').hasError('max')">
                        No pesas tanto ;)
                       </mat-error>  
                       <mat-error *ngIf="myForm.get('peso').hasError('min')">
                        Demasiado poco peso!
                       </mat-error> 
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Imagen" type="text" formControlName="imagen" value={{this.imagen}}>
                    <mat-error *ngIf="myForm.get('imagen').hasError('pattern')">
                      El link no es valido
                     </mat-error>  
                   
  
                  </mat-form-field>
                </div>

                </div>
             

              </div>
              <div *ngIf="isAdmin()==false">
              <button mat-raised-button [disabled]="myForm.invalid" type="submit" class="btn btn-primary pull-right">{{"modificarpref" | translate}}</button>
            </div>
              <button mat-raised-button routerLink="/ModificarPwd" class="btn btn-primary pull-right">{{"cambiarcontra" | translate}}</button>

              <div *ngIf="isAdmin()==false">
                <button mat-raised-button routerLink="/Enquesta" routerLinkActive="active"
                  class="btn btn-primary pull-right">{{"encuesta" | translate}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>