<div class="main-content">
    <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Listado de los Platos</h4>
              <p class="card-category">Todos los registros</p>
          </div>
          <div class="card-body">
              <div id="typography">
                  <div class="card-title">
                      <div class="row">
                          <div class="col">
                              <h2>Platos</h2>
                          </div>
                          <div class="col-7">
                        
                          </div>
                          <div class="col">
                              <a routerLink="/NuevoPlato" routerLinkActive="active" class="btn btn-danger btn-round">Añadir</a>
                          </div>
                        </div>
                  </div>
                
                  <div class="row">
            
                          <div class="table-responsive">
                              <table class="table">
                                  <thead class=" text-primary">
                                      <th>
                                          ID
                                      </th>
                                      <th>
                                          Nombre del plato
                                      </th>
                                      <th>
                                          Tipo de plato
                                      </th>
                                      <th>
                                          Imagen
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>
                                              1
                                          </td>
                                          <td>
                                              Dakota Rice
                                          </td>
                                          <td>
                                              Niger
                                          </td>
                                          <td>
                                              Oud-Turnhout
                                          </td>
                                         
                                      </tr>
                               
                                  </tbody>
                              </table>
                 
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  